{extends layout.latte}

{block title}
    Contact info

{/block}

{block body}
    <div class="container mt-5">
        <table class="table table-stripped table-hover">
            <tr>
                <th>Type</th>
                <th>Contact</th>
                <th> <a href="{link new_contact}?id_person={$id_person}">
                        <button class="btn-primary">Add new contact</button></a> </th>

            </tr>

            {foreach $contacts as $c}
                <tr>
                    <td>{$c['name']}</td>
                    <td>{$c['contact']}</td>
                    <td> <form method="post" onsubmit="return confirm('Do you really wanna delete this contact?')" action="{link delete_contact}?id_contact={$c['id_contact']}&id_person={$id_person}">
                            <button class="btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {/foreach}
        </table>
    </div>


{/block}