<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
    <style>
        body{
            padding-top: 70px;
        }
    </style>

</head>

<body>
    {include menu.latte}
</body>

<!--
<body>
<body>
    <nav>

        <div.menu class = "container">
            <h1><a href="{$basePath}">Home</a></h1>
            <h2><a href="{$basePath}/persons">persons list</a></h2>
            <h2><a href="{$basePath}/persons">persons list</a></h2>

        </div.menu>
	</nav>-->
<body id="body">
{include body}

</body>
</html>