{extends layout.latte}

{block title}
    Meeting info

{/block}

{block body}
    <h2 style="text-align: center; padding-bottom: 30px;padding-top: 20px">Meeting detail</h2>
    <table class="table table-hover" style="text-align: center">
        <thead>

        </thead>
        <tbody>
        <tr>
            <th scope="row">start</th>
            <td>{$formData['start']}</td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>{$formData['description']}</td>
        </tr>
        <tr>
            <th scope="row">Duration</th>
            <td colspan="2">{$formData['duration']}</td>
        </tr>
        <tr>
            <th scope="row">City</th>
            <td colspan="2">{$formData['city']}</td>
        </tr>
        <tr>
            <th scope="row">Street Name</th>
            <td colspan="2">{$formData['street_name']}</td>
        </tr>
        <tr>
            <th scope="row">Street Number</th>
            <td colspan="2">{$formData['street_number']}</td>
        </tr>
        <tr>
            <th scope="row">Zip</th>
            <td colspan="2">{$formData['zip']}</td>
        </tr>
        </tbody>
    </table>
{/block}