{extends layout.latte}

{block title} Meetings list {/block}

{block body}
    <div class="form-row" style="justify-content: center;  font-size: 0;padding-top: 20px;">
        <div class="col-sm-7 form-group">
            <h2> Meetings</h2>
        </div>

        <div class="col-sm-3 form-group" style="padding-left: 20px;">
            <a class="btn btn-success" href="{link new_meeting}">Add new meeting</a>
        </div>
    </div>
    <div class="container mt-5">
        <table class="table table-stripped table-hover">
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Location</th>
                <th>Duration</th>
                <th>Participant count</th>
                <th>Edit</th>
                <th>Show Info</th>
                <th>Delete</th>

            </tr>

            {foreach $meetings as $m}
                <tr>
                    <td>{$m['start']}</td>
                    <td>{$m['description']}</td>
                    <td>{$m['duration']}</td>
                    <td>{$m['participants_count']}</td>
                    <!-- Contact button -->
                    <td>
                        <a href="{link participant_info}?id_meeting={$m['id_meeting']}">
                            <button class="btn btn-outline-info">{$m['participants_count']}</button>
                        </a>
                    </td>
                    <!-- Edit button -->
                    <td>
                        <a href="{link edit_meeting}?id_meeting={$m['id_meeting']}">
                            <button class="btn-sm btn-primary">
                            <span class="fa fa-edit">

                            </span>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="{link meeting_info}?id_meeting={$m['id_meeting']}">
                            <button class="btn-primary">Informations</button>
                        </a>
                    </td>
                    <td>
                        <form method="post" onsubmit="return confirm('Do you really wanna delete this person?')" action="{link delete_meeting}?id_meeting={$m['id_meeting']}">
                            <button class="btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {/foreach}
        </table>
    </div>
{/block}






