<!DOCTYPE html>
<head>
    <style>
        ul{
            /*Format list style, make it horizontal instead of vertical, remove points and give it some colour */
            list-style-type: none;
            /* To corners */
            margin: 0;
            /* Start from left side*/
            padding: 0;
            /* Whole bar instead of overlining of navbar and body*/
            overflow: auto;
            position: fixed;
            top: 0; /* Position the navbar at the top of the page */
            width: 100%; /* Full width */
            background-color: #636363;
            z-index: 500; /* elsewise some buttons would go over this menu*/
        }
        li a {
            float: left;
            display: block;
            color: #ffffff;
            /* vyska radku*/
            padding: 16px;
            text-align: center;
            text-decoration: none;
            font-size: 17px;
            width: 25%;
            font-family: "Comic Sans MS", cursive, sans-serif;
        }
        li a:hover {
            background-color: #000000;
            text-decoration: none;
        }

    </style>
</head>
<body>
<ul>
    <li><a href="{$basePath}">Home</a></li>
    <li><a href="{$basePath}/persons">Persons list</a></li>
    <li><a href="{$basePath}/meetings">Meetings</a></li>
    <li><a href="{$basePath}/relations">Relations</a></li>

</ul>
</body>


</html>
