{extends layout.latte}

{block title}
    New Participant

{/block}

{block body}
    <div class="container mt-5">
        <table class="table table-stripped table-hover">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Add new Participant</th>

            </tr>
            {foreach $people as $c}
                <tr>
                    <td>{$c['first_name']}</td>
                    <td>{$c['last_name']}</td>
                    <td>
                        <form action="{link add_participant}?id_person={$c['id_person']}&id_meeting={$id_meeting}" method="post">
                            <button class="btn-sm btn-success">ADD</button>
                        </form>

                    </td>
                </tr>
            {/foreach}
        </table>
    </div>


{/block}