{extends layout.latte}

{block title}New person form{/block}

{block body}

    <form method="post">
        <div class="form-row" style="text-align:center; justify-content: center;">
            <div class="col-sm-4 form-group">
                <label>New contact:</label>
                <input class="form-control" type="text" name="contact" id="contact" placeholder="Please input new contact name">
            </div>
            <div class="col-sm-4 form-group">
                <label>Contact type</label>
                <select class="form-control" name="contact_type" id="contact_type">
                    <option value=2>Skype</option>
                    <option value=5>Jabber</option>
                    <option value=6>Web</option>
                    <option value=1>Facebook</option>
                    <option value=4>Email</option>
                    <option value=3 >Tel</option>
                </select>
            </div>
        </div>
        <div class="form-row" style="text-align:center; justify-content: center;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{/block}