{extends layout.latte}

{block title}
    Participant info

{/block}

{block body}
    <div class="container mt-5">
        <table class="table table-stripped table-hover">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th> <a href="{link add_participant}?id_meeting={$id_meeting}">
                        <button class="btn-primary">Add new Participant</button></a>
                </th>

            </tr>

            {foreach $names as $c}
                <tr>
                    <td>{$c['first_name']}</td>
                    <td>{$c['last_name']}</td>
                    <td>
                        <form action="{link delete_participant}?id_person={$c['id_person']}&id_meeting={$id_meeting}" method="post" >
                            <button class="btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </form>
                    </td>

                </tr>
            {/foreach}
        </table>
    </div>


{/block}