{extends layout.latte}

{block title}
    New person form
{/block}

{block body}

    <h2 style="text-align: center; padding-bottom: 30px;padding-top: 20px">Profile Information</h2>
    <table class="table table-hover" style="text-align: center">
        <thead>

        </thead>
        <tbody>
        <tr>
            <th scope="row">First Name</th>
            <td>{$formData['first_name']}</td>
        </tr>
        <tr>
            <th scope="row">Last Name</th>
            <td>{$formData['last_name']}</td>
        </tr>
        <tr>
            <th scope="row">Nickname</th>
            <td colspan="2">{$formData['nickname']}</td>
        </tr>
        <tr>
            <th scope="row">Height</th>
            <td>{$formData['height']}</td>
        </tr>
        <tr>
            <th scope="row">Gender</th>
            <td>{$formData['gender']}</td>
        </tr>
        <tr>
            <th scope="row">Birthday</th>
            <td colspan="2">{$formData['birth_day']}</td>
        </tr>
        <tr>
            <th scope="row">City</th>
            <td colspan="2">{$formData['city']}</td>
        </tr>
        <tr>
            <th scope="row">Street Name</th>
            <td colspan="2">{$formData['street_name']}</td>
        </tr>
        <tr>
            <th scope="row">Street Number</th>
            <td colspan="2">{$formData['street_number']}</td>
        </tr>
        <tr>
            <th scope="row">Zip</th>
            <td colspan="2">{$formData['zip']}</td>
        </tr>
        </tbody>
    </table>

{/block}