{extends layout.latte}

{block title} Persons list {/block}

{block body}
    <div class="form-row" style="justify-content: center;  font-size: 0;padding-top: 50px;">
        <div class="col-sm-7 form-group">
            <form action="{link persons}" method="get">
                <input class="form-control" type="text" name="person" placeholder="Type last name of person you want to find and press Enter"/>
            </form>
        </div>

        <div class="col-sm-3 form-group" style="padding-left: 20px;">
            <a class="btn btn-success" href="{link new_person}">Add new Person</a>
        </div>
    </div>

    <div class="container mt-5">
        <table class="table table-stripped table-hover">
            <tr>
            <th>First name</th>
                <th>Last name</th>
                <th>Height</th>
                <th>Gender</th>
                <th>Contacts</th>
                <th>Edit</th>
                <th>Show Info</th>
                <th>Delete</th>

            </tr>

            {foreach $people as $o}
            <tr>
                <td>{$o['first_name']}</td>
                <td>{$o['last_name']}</td>
                <td>{$o['height']}</td>
                <td>{$o['gender']}</td>
                <!-- Contact button -->
                <td>
                    <a href="{link contact_info}?id_person={$o['id_person']}">
                        <button class="btn btn-outline-info">{$o['contact_count']}</button>
                    </a>
                </td>
                <!-- Edit button -->
                <td>
                    <a href="{link edit_person}?id_person={$o['id_person']}">
                        <button class="btn-sm btn-primary">
                            <span class="fa fa-edit">

                            </span>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{link person_info}?id_person={$o['id_person']}">
                        <button class="btn-primary">Profile</button>
                    </a>
                </td>
                <td>
                    <form method="post" onsubmit="return confirm('Do you really wanna delete this person?')" action="{link delete_person}?id_person={$o['id_person']}">
                        <button class="btn-sm btn-danger">
                            <span class="fa fa-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {/foreach}
        </table>
    </div>
{/block}






