<div class="container">
    {if isset($message)}
        <p>{$message}</p>
    {/if}
    <form method="post">
        <div class="form-row">
            <div class="col-sm-6 form-group">
                <label for="first_person">First Person</label>
                <select required id="first_person" class="form-control" name="first_person">
                    {foreach $person1 as $ppl}
                        {if !empty($current[0])}
                        <option {if $current[0]['id_person1'] == $ppl['id_person']}selected{/if}
                                value={$ppl['id_person']}>{$ppl['first_name']." ".$ppl['last_name']}</option>{/if}
                        {if empty($current[0])}
                            <option value={$ppl['id_person']}>{$ppl['first_name']." ".$ppl['last_name']}</option>{/if}

                    {/foreach}
                </select>
            </div>

            <div class="col-sm-6 form-group">
                <label for="second_person">Second Person</label>
                <select required id="second_person" class="form-control" name="second_person">
                    {foreach $person2 as $ppl}
                        {if !empty($current[0])}
                            <option {if $current[0]['id_person2'] == $ppl['id_person']}selected{/if}
                                    value={$ppl['id_person']}>{$ppl['first_name']." ".$ppl['last_name']}</option>{/if}
                        {if empty($current[0])}
                            <option value={$ppl['id_person']}>{$ppl['first_name']." ".$ppl['last_name']}</option>{/if}

                    {/foreach}
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-6 form-group">
                <label for="relation_type">Relation Type</label>
                <select required id="relation_type" class="form-control" name="relation_type">
                    {foreach $relation_list as $r}
                        {if !empty($current[0])}
                            <option {if $current[0]['id_relation_type'] == $r['id_relation_type']}selected{/if}
                                    value={$r['id_relation_type']}>{$r['name']}</option>{/if}
                        {if empty($current[0])}
                            <option value={$r['id_relation_type']}>{$r['name']}</option>{/if}

                    {/foreach}
                </select>
            </div>

            <div class="col-sm-6 form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" name="description" placeholder="Description"
                        value={empty($current[0]) ? "" : $current[0]['description']}>

            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>