{extends layout.latte}

{block title}
    Relation info

{/block}

{block body}
    <h2 style="text-align: center; padding-bottom: 30px;padding-top: 20px">Relation detail</h2>
    <table class="table table-hover" style="text-align: center">
        <thead>

        </thead>
        <tbody>
        <tr>
            <th scope="row">First Person</th>
            <td>{$relations[0]['first_name_id1']." ".$relations[0]['last_name_id1']}</td>
        </tr>
        <tr>
            <th scope="row">Second Person</th>
            <td>{$relations[0]['first_name_id2']." ".$relations[0]['last_name_id2']}</td>
        </tr>
        <tr>
            <th scope="row">Type of Relation</th>
            <td colspan="2">{$relations[0]['name']}</td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td colspan="2">{$relations[0]['description']}</td>
        </tr>
        </tbody>
    </table>
{/block}