{extends layout.latte}

{block title} Relations list {/block}

{block body}
    <div class="form-row" style="justify-content: center;  font-size: 0;padding-top: 20px;">
        <div class="col-sm-7 form-group">
            <h2> Relations</h2>
        </div>

        <div class="col-sm-3 form-group" style="padding-left: 20px;">
            <a class="btn btn-success" href="{link new_relation}">Add new relation</a>
        </div>
    </div>
    <div class="container mt-5">
        <table class="table table-stripped table-hover">
            <tr>
                <th>First Person</th>
                <th>Second Person</th>
                <th>Relation Type</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Show Info</th>
                <th>Delete</th>

            </tr>

            {foreach $relations as $r}
                <tr>
                    <td>{$r['first_name_id1']." ".$r['last_name_id1']}</td>
                    <td>{$r['first_name_id2']." ".$r['last_name_id2']}</td>
                    <td>{$r['name']}</td>
                    <td>{$r['description']}</td>
                    <!-- Edit button -->
                    <td>
                        <a href="{link edit_relation}?id_relation={$r['id_relation']}">
                            <button class="btn-sm btn-primary">
                            <span class="fa fa-edit">

                            </span>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="{link relation_info}?id_relation={$r['id_relation']}">
                            <button class="btn-primary">Informations</button>
                        </a>
                    </td>
                    <td>
                        <form method="post" onsubmit="return confirm('Do you really wanna delete this relation?')" action="{link delete_relation}?id_relation={$r['id_relation']}">
                            <button class="btn-sm btn-danger">
                                <span class="fa fa-trash"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {/foreach}
        </table>
    </div>
{/block}






